.about-section {
    background-color: #e8ecfe; 
    padding: 60px 0;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333; 
  }
  
  .founder-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.1s ease;
  }
  .founder-image{
    width:50vh;
    height:60vh;
    padding: 10px;
    
  }
  .roww
  {
    display: flex;
    width: 100%;
    padding-top: 3vh;

  }
  .founder-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .founder-role {
    font-size: 16px;
    font-weight: bold;
    color: #007bff; 
    margin-bottom: 15px;
  }
  
  .founder-bio {
    font-size: 16px;
    color: #666; 
  }
  
  .founder-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  }

  * {
    margin: 0;
    padding: 0;
  }
  
 
  
  main {
    padding: 20px;
  }
  
  .about-section,
  .mission-vision,
  .core-values,
  .team {
    margin-bottom: 30px;
  }
  
  .about-section h2,
  .mission-vision h2,
  .core-values h2,
  .team h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section p,
  .mission-vision p,
  .core-values ul,
  .team p {
    font-size: 16px;
    color: #333; 
  }
  
  .core-values ul {
    list-style: none;
  }
  
  .core-values ul li {
    margin-bottom: 10px;
  }
  
  .core-values ul li strong {
    font-weight: bold;
  }
  
  .main {
    padding: 20px;
  }
  
  .about-section,
  .mission-vision,
  .core-values,
  .team {
    margin-bottom: 30px;
    transition: transform 1s ease;
  }
  
  .about-section h2,
  .mission-vision h2,
  .core-values h2,
  .team h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section p,
  .mission-vision p,
  .core-values ul,
  .team p {
    font-size: 16px;
    color: #333; /* Text color */
  }
  
  /* Core values list styles */
  .core-values ul {
    list-style: none;
  }
  
  .core-values ul li {
    margin-bottom: 10px;
  }
  
  .core-values ul li strong {
    font-weight: bold;
  }

  .about-sectionn{
    background-color: #f7e4e4;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 
  }
  .mission-vision{
    background-color: #e0f4f8;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 
    display: flex;
    flex: auto;

  }
  .mission-vission{
    
    flex: 1;
    padding: 20px;

  }
  .core-values{
    background-color: #f9f3cd;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 

  }